<div class="container">
    <div>
        <h1 align="center" style="font-size:60px;">Bln&cent;e</h1>
    </div>
    <div ng-hide="blnceUser.showSettings">
        <p>This user is not authorized to view this page. Please <a ui-sref="blnce.login">login</a> to continue.</p>
    </div>
    <div id="app-data" ng-show="blnceUser.showSettings">
        <div>
            <div class="row">
                <h4>Profile</h4>
                <form class="form-usersettings">
                  <h4 class="form-signin-heading" ng-cloak>{{blnceUser.errorMessage}}</h4>
                  <label for="inputUsername" class="sr-only">Name(optional)</label>
                  <input type="text" id="name" class="form-control settings" ng-model="blnceUser.userSettings.name" placeholder="Name(optional)" autofocus>
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <input type="email" id="email" class="form-control settings" ng-model="blnceUser.userSettings.username" placeholder="Email Address (i.e. user@example.com)" required>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" id="password" class="form-control settings" ng-model="blnceUser.userSettings.password" placeholder="Password" required>
                </form>
            </div>
            <div class="row">
                <h4>Bank Accounts</h4>
                <div id="bankAccounts">
                    <p ng-hide="blnceUser.userSettings.bankAccounts.length">You currently do not have any bank accounts linked to your profile. Add one below.</p>
                    <div ng-repeat="account in blnceUser.userSettings.bankAccounts" class="bank-account">
                        <span class="account-name">{{account.name}}</span> <span><a href="">Remove</a></span>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default" ng-click="blnceUser.loadModal()"> <span class="green">+ Add A New Bank Account</span></button>
                </div>

            </div>
            <div class="row">
                <h4>Notification Settings</h4>
                <div class="checkbox">
                  <label><input type="checkbox" value="notifications-email" ng-model="blnceUser.userSettings.notificationSettings.email">Email</label>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-default" ng-click="blnceUser.saveSettings()"> <span class="green">Save Settings</span></button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-default" ng-click="blnceUser.applyToPlaid()"> <span class="green">Apply To Plaid</span></button>
            </div>
            <shieldmodal ng-show="blnceUser.showMdl" model="blnceUser.accountData" sh="blnceUser.showMdl" modal="blnceaccnt"></shieldmodal>
        </div>
    </div>
</div>
