<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<title>SHIELD Sandbox</title>
	<!-- build:css assets/css/bundle.min.css -->
	<link rel="stylesheet" href="shield/bower_components/bootstrap-css/css/bootstrap.min.css" />
	<!-- endbuild -->
</head>
<body>
<!--<div ui-view ng-cloak></div>-->
<script>cl = function() { return console.log.apply( console, arguments ); };</script>
<!-- build:js assets/js/bundle.min.js -->
	<!--<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/lodash/lodash.min.js"></script>
	<script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>-->
<h2>Welcome To The Shield Sandbox</h2>
<h5>New projects will be added soon</h5>
<ul>
	<li><a href="/vanillajs/yt-upload-example">PHP+JS Google Auth And Video Upload Example</a></li>
	<li><a href="/angular-apps">Angular Apps</a></li>
</ul>

<footer>
	Copyright 2015 <a href="http://yakirac.me">Yakira C. Bristol</a>
</footer>

<!-- endbuild -->
</body></html>
