<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<title>MC Workshop</title>
	<link rel="stylesheet" href="assets/css/bundle.min.css">
</head>
<body ng-app="app">
<div ui-view ng-cloak></div>
<script>cl = function() { return console.log.apply( console, arguments ); };</script>
<script src="assets/js/bundle.min.js"></script>
</body></html>