<div class="csnippet col-xs-8 col-lg-3" ng-mouseenter="vm.showHeroImage()" ng-mouseleave="vm.hideHeroImage()" ng-click="vm.showHeroInfoModal(vm.hero)">
    <img holder="{{vm.hero.holderImage}}" style="height: 210px; width: 100%; display: block;" ng-hide="vm.showImage">
    <img src="{{vm.hero.image}}" style="height: 210px; width: 100%; display: block;" ng-show="vm.showImage">
    <!--<h3>Black Widow</h3>-->
    <!--<p>
        Donec id elit non mi porta gravida at eget metus.
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
        mollis euismod. Donec sed odio dui.
    </p>-->
</div>
